<IfModule mod_rewrite.c>
  RewriteEngine On

  # Set the base directory for all rewrite rules
  RewriteBase /dashboard/naqla_dashboard/

  # Don't rewrite requests for existing files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule ^ index.html [L]
</IfModule>
